<div class="row block">


        <div style="position: relative" class="col-sm-12 reset-side-padding">
            <img style="width: 100%; height: auto!important;"
                 ng-src="{{dataFromDB.carouselImgOne || './static/images/no-image-available.jpg'}}"
                 alt="No data">

            <div class="maint-text-adjust">
                <div id="inner-maint-text-adjust" ng-bind-html="dataFromDB.carouselImgOneText"></div>
                <div>
                    <button class="btn btn-default">Contact Us</button>
                    <button class="btn btn-danger">Learn more</button>
                </div>
            </div>
            <div class="scroll-down-arrow">
                <i class="fa fa-arrow-circle-o-down fa-lg" aria-hidden="true"></i>
            </div>
        </div>


</div>


<div class="row text-banner">
    <div class="col-md-2 col-md-push-10">
        <button ng-hide="carouselImagesShow" ng-click="carouselImagesShow = !carouselImagesShow"
                class="btn btn-block btn-warning">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit Images
        </button>
        <button ng-show="carouselImagesShow" ng-click="carouselImagesShow = !carouselImagesShow"
                class="btn btn-block btn-success">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Images
        </button>
    </div>

    <div class="col-md-2 col-md-pull-2 shake center-item" ng-hide="carouselImagesShow">

        <label class="btn btn-block  btn-warning" for="background-color"> Background Color</label>
        <input style="display: none" class="btn  btn-warning" ng-model="dataFromDB.bodyColor" id="background-color"
               type="color"/>


    </div>
    <div class="col-md-2 col-md-push-1  shake center-item" ng-hide="carouselImagesShow">

        <button ng-hide="editMain" ng-click="editMain = !editMain" class="btn btn-block btn-warning">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Main
        </button>
        <button ng-show="editMain" ng-click="editMain = !editMain" class="btn btn-block btn-success">

            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Main
        </button>

    </div>


    <div class="col-md-10 col-md-pull-2 shake" ng-show="carouselImagesShow">

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-stacked" id="accordion1">

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Edit main background IMG above
                            </h4>
                        </a>

                        <ul id="firstLink" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Copy and Paste URL for the main background image</h4>
                                        <input class="form-control" style="width: 100%" type="text"
                                               ng-model="dataFromDB.carouselImgOne" value="true"/>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Edit text for the main background image above
                            </h4>
                        </a>

                        <ul id="secondLink" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>Edit Text for the main background image</h4>

                                        <div class="form-control text-area" text-angular
                                             ng-model="dataFromDB.carouselImgOneText">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid block reset-side-padding" id="userDetails">
    <div class="media">
        <div class="col-sm-12  shake" ng-hide="editMain">
            <div ng-bind-html="dataFromDB.contentMain"></div>
        </div>

        <div class="col-sm-12  shake" ng-show="editMain">
            <div class="form-control text-area" text-angular ng-model="dataFromDB.contentMain"></div>
        </div>
    </div>
</div>

<div class="container-fluid block">
    <ul class="media-list">
        <li class="media row">
            <div class="col-md-1">

                <button ng-hide="mediaImageThree" ng-click="mediaImageThree = !mediaImageThree"
                        class="btn btn-block btn-warning">Edit
                </button>
                <button ng-show="mediaImageThree" ng-click="mediaImageThree =!mediaImageThree"
                        class="btn btn-block btn-success">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>

            <div class="col-md-11">
                <div class="media-left" style="min-width: 180px">
                    <a href="#">
                        <img class="media-object"
                             ng-src="{{dataFromDB.carouselImgThree || './static/images/no-image-available.jpg'}}"
                             alt="Select custom image">
                    </a>

                    <div class="shake" ng-show="mediaImageThree">
                        <label>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Copy and Paste img url
                        </label>
                        <input class="form-control" type="text" ng-model="dataFromDB.carouselImgThree"/>
                    </div>
                </div>
                <div class="media-body">
                    <div class="shake overflow-text" ng-hide="mediaImageThree">
                        <div ng-bind-html="dataFromDB.carouselImgThreeText"></div>
                    </div>

                    <div ng-show="mediaImageThree" class="shake">
                        <div class="form-control text-area" text-angular
                             ng-model="dataFromDB.carouselImgThreeText"></div>
                    </div>
                </div>

            </div>

        </li>

        <li class="media row">
            <div class="col-md-1">

                <button ng-hide="mediaImageTwo" ng-click="mediaImageTwo = !mediaImageTwo"
                        class="btn btn-block btn-warning">Edit
                </button>
                <button ng-show="mediaImageTwo" ng-click="mediaImageTwo =!mediaImageTwo"
                        class="btn btn-block btn-success">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>

            <div class="col-md-11">
                <div class="media-body">
                    <div class="shake overflow-text" ng-hide="mediaImageTwo">
                        <div ng-bind-html="dataFromDB.carouselImgTwoText"></div>
                    </div>

                    <div ng-show="mediaImageTwo" class="shake">
                        <div class="form-control text-area" text-angular ng-model="dataFromDB.carouselImgTwoText"></div>
                    </div>
                </div>
                <div class="media-right" style="min-width: 180px">
                    <a href="#">
                        <img class="media-object"
                             ng-src="{{dataFromDB.carouselImgTwo || './static/images/no-image-available.jpg'}}"
                             alt="Select custom image">
                    </a>

                    <div class="shake" ng-show="mediaImageTwo">
                        <label>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Copy and Paste img url
                        </label>
                        <input class="form-control" type="text" ng-model="dataFromDB.carouselImgTwo"/>
                    </div>
                </div>

            </div>

        </li>

    </ul>
</div>