<style>
    .small-carousel-left {
        color: #ffffff;
    }

    .peace {
        position: relative;

    }

    .overlay {
        display: none;
        color: #ffffff;
        text-align: center;
    }

    .peace:hover > .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: #000;
        opacity: 0.6;
        z-index: 100;
        display: block;

    }
</style>

<div class="row peace second-view-background">
    <!--<div data-toggle="modal" data-target="#myModal" class="overlay"><h1>Click to edit content</h1></div>-->
    <div class="col-md-1">
    </div>
    <div class="col-md-5" style="max-height: 250px; overflow: auto">

        <section>
            <div class="small-carousel-left">

                <div ng-bind-html="dataFromDB.carouselImgOneText"></div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#myModal">
                        Settings
                    </button>
                </div>

                <!--Modal Start-->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Settings</h4>
                            </div>
                            <div class="modal-body">

                                <button data-toggle="modal" data-target="#myModal" ng-show="carouselImagesShow"
                                        ng-click="carouselImagesShow = !carouselImagesShow"
                                        class="btn btn-block btn-success">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Images
                                </button>
                                <button ng-hide="carouselImagesShow" ng-click="carouselImagesShow = !carouselImagesShow"
                                        class="btn btn-block btn-warning">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Edit Text & Images
                                </button>
                                <div class="row" ng-show="carouselImagesShow">
                                    <div class="col-sm-12">
                                        <ul class="nav nav-stacked" id="accordion2">

                                            <li class="panel">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#initialLink">
                                                    <h4>
                                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                                        Text Settings
                                                    </h4>
                                                </a>

                                                <ul id="initialLink" class="collapse">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <h4>Edit the Text</h4>

                                                                <div class="col-sm-12">

                                                                    <div class="form-control text-area" text-angular
                                                                         ng-model="dataFromDB.carouselImgOneText">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="panel">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#firstLink2">
                                                    <h4>
                                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                                        Image Settings
                                                    </h4>
                                                </a>

                                                <ul id="firstLink2" class="collapse">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <h4>To change the image Copy and Paste img URL</h4>
                                                                <input class="form-control" style="width: 100%"
                                                                       type="text"
                                                                       ng-model="dataFromDB.carouselImgOne"
                                                                       value="true"/>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="panel">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#firstLink13">
                                                    <h4>
                                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                                        Background Color
                                                    </h4>
                                                </a>

                                                <ul id="firstLink13" class="collapse">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <h4>Change Main background color</h4>
                                                                <label class="btn btn-block  btn-warning"
                                                                       for="background-color"> Background Color</label>
                                                                <input style="display: none" class="btn  btn-warning"
                                                                       ng-model="dataFromDB.bodyColor"
                                                                       id="background-color"
                                                                       type="color"/>

                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="col-md-6 reset-side-padding" style="min-width: 400px; overflow: hidden">

        <img style="width: 100%; height: auto!important; opacity: 0.8"
             ng-src="{{dataFromDB.carouselImgOne || './static/images/no-image-available.jpg'}}"
             alt="No data">
    </div>
</div>

<div class="container-fluid block second-view-main-container">

    <div class="row initial-padding">
        <div class="col-sm-1">
            <button ng-hide="editMain" class="btn btn-warning button-group"
                    ng-click="editMain = !editMain">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
            </button>
            <button ng-show="editMain" class="btn  btn-success button-group"
                    ng-click="editMain = !editMain">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>
        </div>

        <div class="col-sm-10 shake" ng-hide="editMain">
            <div ng-bind-html="dataFromDB.contentMain"></div>
        </div>

        <div class="col-sm-10 shake" ng-show="editMain">
            <div class="form-control text-area" text-angular ng-model="dataFromDB.contentMain"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-5 col-xs-6">
            <button ng-hide="mediaImageTwo" ng-click="mediaImageTwo = !mediaImageTwo"
                    class="btn btn-block btn-warning">Edit
            </button>
            <button ng-show="mediaImageTwo" ng-click="mediaImageTwo =!mediaImageTwo"
                    class="btn btn-block btn-success">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>
            <div class="rol">
                <div class="col-xs-12 initial-padding">
                    <img width="100%"
                         ng-src="{{dataFromDB.carouselImgTwo || './static/images/no-image-available.jpg'}}"
                         alt=""/>

                    <div class="shake" ng-show="mediaImageTwo">
                        <label class="initial-padding">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Copy and Paste img url
                        </label>
                        <input class="form-control" type="text" ng-model="dataFromDB.carouselImgTwo"/>
                    </div>
                </div>
                <div class="col-xs-12 initial-padding shake" ng-hide="mediaImageTwo">
                    <div class="overflow-text" ng-bind-html="dataFromDB.carouselImgTwoText"></div>
                </div>
                <div ng-show="mediaImageTwo" class="col-xs-12 initial-padding shake">
                    <div class="form-control text-area" text-angular ng-model="dataFromDB.carouselImgTwoText"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-xs-6" style="background-color: {{dataFromDB.bodyColor}}">
            <button ng-hide="mediaImageThree" ng-click="mediaImageThree = !mediaImageThree"
                    class="btn btn-block btn-warning">Edit
            </button>
            <button ng-show="mediaImageThree" ng-click="mediaImageThree =!mediaImageThree"
                    class="btn btn-block btn-success">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>
            <div class="rol">
                <div class="col-xs-12 initial-padding">
                    <div ng-hide="mediaImageThree" class="overflow-text"
                         ng-bind-html="dataFromDB.carouselImgThreeText"></div>

                    <div ng-show="mediaImageThree" class="col-xs-12 initial-padding shake">
                        <div class="form-control text-area" text-angular
                             ng-model="dataFromDB.carouselImgThreeText"></div>
                    </div>
                </div>
                <div class="col-xs-12 initial-padding">
                    <img width="100%"
                         ng-src="{{dataFromDB.carouselImgThree || './static/images/no-image-available.jpg'}}"
                         alt=""/>

                    <div class="shake" ng-show="mediaImageThree">
                        <label class="initial-padding">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Copy and Paste img url
                        </label>
                        <input class="form-control" type="text" ng-model="dataFromDB.carouselImgThree"/>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-1">
        </div>
    </div>

</div>