<style>
    .footer-bottom{

    }
</style>
<div  class="modal fade" id="footerModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Edit Footer</h2>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stacked" id="accordion-footer">

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-footer" href="#initialLink-footer">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Headline
                            </h4>
                        </a>

                        <ul id="initialLink-footer" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Edit Footer headline</h4>
                                        <div class="form-control text-area"
                                             text-angular ng-model="headerContent.footerTitle">
                                        </div>

                                    </div>
                                </div>
                            </li>

                        </ul>

                    </li>

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-footer" href="#firstLink-footer">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Left Paragraph
                            </h4>
                        </a>

                        <ul id="firstLink-footer" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Edit Left paragraph</h4>

                                        <div class="form-control text-area"
                                             text-angular ng-model="headerContent.footerLeft">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-footer" href="#secondLink-footer">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Middle Paragraph
                            </h4>
                        </a>

                        <ul id="secondLink-footer" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Edit middle paragraph</h4>
                                        <div class="form-control text-area"
                                             text-angular ng-model="headerContent.footerMiddle">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-footer" href="#thirdLink-footer">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Right Paragraph
                            </h4>
                        </a>

                        <ul id="thirdLink-footer" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Edit right paragraph</h4>
                                        <div class="form-control text-area"
                                             text-angular ng-model="headerContent.footerRight">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="footerSave()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<footer>

        <!--<svg viewBox="0 -20 700 110" width="100%" height="300" preserveAspectRatio="none">-->
            <!--<path transform="translate(0, -15)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"-->
                  <!--fill="#CEB964"/>-->
            <!--<path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#00273F"/>-->

    <!--</svg>-->
    <!--class="over-footer"-->

    <div class="navigation-footer-color">
        <div class="row">
            <div class="col-sm-2 center-item footer-button">
                <a data-toggle="modal" data-target="#footerModal"
                   class="btn btn-warning" href="#/">Footer <i class="fa fa-cogs" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="footer-top">
                        <div ng-bind-html="headerContent.footerTitle"></div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-4 footer-content">

                        <div ng-bind-html="headerContent.footerLeft" ></div>

                    </div>
                    <div class="col-sm-4 footer-content">
                        <div ng-bind-html="headerContent.footerMiddle"></div>

                    </div>
                    <div class="col-sm-4 footer-content">
                        <div class="footer-icons">
                            <div ng-bind-html="headerContent.footerRight"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="footer-top center-item"><img class="logo-footer" ng-src="{{headerContent.logo}}" alt=""/></p>
                </div>
            </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

</footer>