<style>
    .footer-bottom{

    }
</style>
<footer>

        <!--<svg viewBox="0 -20 700 110" width="100%" height="300" preserveAspectRatio="none">-->
            <!--<path transform="translate(0, -15)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700"-->
                  <!--fill="#CEB964"/>-->
            <!--<path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#00273F"/>-->

    <!--</svg>-->
    <!--class="over-footer"-->

    <div style="color: #ffffff;     background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="footer-top">Header stuff</div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-4 footer-content">

                        <h4>
                            Contact info</h4>
                        <div>
                            <p>
                                <i class="fa fa-map-marker fa-lg"> </i>
                                <span>Phone: </span> +123-456-7890
                            </p>
                        </div>
                        <div>
                            <p><i class="fa fa-phone fa-lg"> </i>
                                <span>21 Revolution Street</span> Paris, France</p>
                        </div>
                        <div>
                            <p><i class="fa fa-envelope fa-lg"> </i>
                                <span>Email:</span> nasko@nasko.com</p>
                        </div>

                    </div>
                    <div class="col-sm-4 footer-content">

                        <h4>

                            About the company
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </h4>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit, eu Fusce euismod convallis velit, eu auctor
                        lacus vehicula sit amet.
                    </div>
                    <div class="col-sm-4 footer-content">
                        <div class="footer-icons">
                            <h4>

                                Like us
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </h4>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p style="text-align: center" class="footer-top"><img src="./static/images/CustomTwo5.png" alt=""/></p>
                </div>
            </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

</footer>