<footer>

    <div class="over-footer" style="color: #ffffff;">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3 footer-content">

                <h4><p><i class="fa fa-map-marker fa-lg"> </i>
                    <span>Phone: </span> +123-456-7890</p>
                </h4>
                <div>
                    <p><i class="fa fa-phone fa-lg"> </i>
                        <span>21 Revolution Street</span> Paris, France</p>
                </div>
                <div>
                    <p><i class="fa fa-envelope fa-lg"> </i>
                        <span>Email:</span> nasko@nasko.com</p>
                </div>

            </div>

            <div class="col-sm-3 footer-content">

                <h4>About the company</h4>
                Lorem ipsum dolor sit amet, consectateur adispicing elit, eu Fusce euismod convallis velit, eu auctor
                lacus vehicula sit amet.
            </div>
            <div class="col-sm-3 footer-content">
                <div class="footer-icons">
                    <h4>Like us on:</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>
            </div>
        </div>
    </div>

</footer>