
<!-- Modal -->
<div  class="modal fade" id="headerModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>Edit Header</h2>
            </div>
            <div class="modal-body">
                <ul class="nav nav-stacked" id="accordion-header">

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-header" href="#initialLink3">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                               Logo
                            </h4>
                        </a>

                        <ul id="initialLink3" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Copy and past logo URL</h4>
                                        <input class="form-control" ng-model="headerContent.logo" type="text"/>

                                    </div>
                                </div>
                            </li>

                        </ul>

                    </li>

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-header" href="#firstLink3">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Position
                            </h4>
                        </a>

                        <ul id="firstLink3" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12 row">

                                        <h4>Change the position of the navigation bar</h4>

                                        <div class="col-sm-4">
                                            <input type="radio"
                                                   ng-model="headerContent.navbarStatic"
                                                   value="navbar-fixed-top initial-nav find-header"/>Active

                                        </div>
                                        <div class="col-sm-4">
                                            <input type="radio"
                                                   ng-model="headerContent.navbarStatic"
                                                   value="navbar-fixed-top changed-nav navigation-footer-color custom-header" />Static

                                        </div>
                                        <div class="col-sm-4">
                                            <input type="radio"
                                                   ng-model="headerContent.navbarStatic"
                                                   value="changed-nav navigation-footer-color custom-header reset-border-radius" />Fixed
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-header" href="#firstLink4">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Color
                            </h4>
                        </a>

                        <ul id="firstLink4" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Change color of the navigation bar</h4>
                                        <input  style="width: 100%" type="color"
                                               ng-model="headerContent.navbarFooterColor" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion-header" href="#firstLink5">
                            <h4>
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                Start Button
                            </h4>
                        </a>

                        <ul id="firstLink5" class="collapse">
                            <li>
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h4>Change name of the Start button</h4>
                                        <input class="form-control" style="width: 100%" type="text"
                                               ng-model="headerContent.startButton" value="true"/>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="headerSave()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<nav style="background-color: {{headerContent.navbarFooterColor}}!important;"  class="navbar {{headerContent.navbarStatic}}"
     role="navigation">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#top" >
                <img class="logo-header"  ng-src="{{headerContent.logo}}"/>
            </a>
            <a  data-toggle="modal" data-target="#headerModal"
               class="btn btn-warning reset-margin" href="#/">Header <i class="fa fa-cogs" aria-hidden="true"></i>
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-sref="app">
                        <i class="fa fa-home" aria-hidden="false"></i>
                        Home
                    </a>
                </li>

                <li class="hover-hand">
                    <a ng-click="start()">{{headerContent.startButton}}</a>
                </li>
                <li ng-show="isAuthenticated()">
                    <a ui-sref="app.jobs">Settings</a>
                </li>
                <li ng-hide="isAuthenticated()">
                    <a ui-sref="app.login">Login</a>
                </li>
                <li ng-show="isAuthenticated()">
                    <a ui-sref="app.logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

