<style>


    .text-area {
        background-color: #00405f;
        width: 100%;
    }
    .btn{
        margin-top: 10px;
        margin-bottom: 10px;
    }

</style>

<div class="container-fluid ng-cloak" style="background-color: {{dataFromDB.bodyColor}}">

    <div ng-show="dataFromDB.viewOne" ng-include="'views/carousel.html'"></div>


    <div ng-show="dataFromDB.viewTwo" ng-include="'views/carousel_small.html'"></div>

    <section class="row text-banner">
        <div class="col-md-2 col-md-push-10">
            <input class="btn btn-block btn-warning" ng-model="dataFromDB.bodyColor" id="background-color" type="color" />
        </div>
        <div class="col-md-10 col-md-pull-2  center-item">
            <label for="background-color">
                <h2>Choose a background color
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                </h2>
            </label>
        </div>
    </section>

    <section id="userDetails">
        <div class="row text-banner">
            <div class="col-md-2 col-md-push-10">
                <button ng-hide="editMain" ng-click="editMain = !editMain" class="btn btn-block btn-warning">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Main
                </button>
                <button ng-show="editMain" ng-click="editMain = !editMain" class="btn btn-block btn-success">

                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Main
                </button>
            </div>
            <div class="col-md-10 col-md-pull-2 shake" ng-hide="editMain">
                <div ng-bind-html="dataFromDB.contentMain"></div>
            </div>

            <div class="col-md-10 col-md-pull-2 shake" ng-show="editMain">
                <div class="form-control text-area" text-angular ng-model="dataFromDB.contentMain"></div>
            </div>
        </div>
    </section>



    <section class="row" id="sports">
        <div class="fill-screen stellar-bg fixed-attachment"
             data-steller-background-ratio="0.2"

             style="background-image: url({{dataFromDB.mainBackground}})">
            <section class="row activity-section">
                <div class="activity-element col-md-4" style="color: #ffffff">

                    <div>
                        <button ng-hide="middleBackgroundTextLeftShow"
                                ng-click="middleBackgroundTextLeftShow = !middleBackgroundTextLeftShow"
                                class="btn btn-warning">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Edit
                        </button>
                        <button ng-show="middleBackgroundTextLeftShow"
                                ng-click="middleBackgroundTextLeftShow = !middleBackgroundTextLeftShow"
                                class="btn btn-success">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                        </button>
                    </div>

                    <div class="shake" ng-hide="middleBackgroundTextLeftShow">

                        <div ng-bind-html="dataFromDB.mainBackgroundTextLeft"></div>

                    </div>


                    <div class="shake" ng-show="middleBackgroundTextLeftShow">

                        <label for=""><i class="fa fa-pencil-square-o" aria-hidden="true">
                        </i> Edit Content</label>

                        <div class="form-control text-area" text-angular ng-model="dataFromDB.mainBackgroundTextLeft">
                        </div>
                    </div>

                </div>

                <div class="activity-element col-md-4">

                    <button ng-hide="middleBackgroundShow" ng-click="middleBackgroundShow = !middleBackgroundShow"
                            class="btn btn-warning">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Background
                    </button>
                    <button ng-show="middleBackgroundShow" ng-click="middleBackgroundShow =!middleBackgroundShow"
                            class="btn btn-success">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save Background
                    </button>

                    <div class="shake" ng-show="middleBackgroundShow">
                        <label style="color: #ffffff">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Copy and Paste img url
                        </label>
                        <input class="form-control" type="text" ng-model="dataFromDB.mainBackground"/>
                    </div>

                </div>

                <div class="activity-element col-md-4" style="color:#ffffff">

                    <div>
                        <button ng-hide="middleBackgroundTextRightShow" class="btn  btn-warning"
                                ng-click="middleBackgroundTextRightShow = !middleBackgroundTextRightShow">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Edit
                        </button>
                        <button ng-show="middleBackgroundTextRightShow" class="btn  btn-success"
                                ng-click="middleBackgroundTextRightShow = !middleBackgroundTextRightShow">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                        </button>
                    </div>

                    <div class="shake" ng-hide="middleBackgroundTextRightShow">
                        <div ng-bind-html="dataFromDB.mainBackgroundTextRight"></div>
                    </div>


                    <div class="shake" ng-show="middleBackgroundTextRightShow">
                        <label for=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Content</label>

                        <div class="form-control text-area" text-angular ng-model="dataFromDB.mainBackgroundTextRight">
                        </div>
                    </div>

                </div>

            </section>

        </div>
    </section>

    <section class="row activity-section" id="activities">
        <div class="activity-element col-md-4">

            <div>
                <button ng-hide="bottomLeftObjectShow" class="btn  btn-warning button-group"
                        ng-click="bottomLeftObjectShow = !bottomLeftObjectShow">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </button>
                <button ng-show="bottomLeftObjectShow" class="btn  btn-success button-group"
                        ng-click="bottomLeftObjectShow = !bottomLeftObjectShow">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>

            <div class="shake" ng-hide="bottomLeftObjectShow" ng-bind-html="dataFromDB.bottomLeftObject"></div>
            <div class="shake" ng-show="bottomLeftObjectShow">
                <label for=""><i class="fa fa-pencil-square-o" aria-hidden="true">
                </i> Edit Content</label>

                <div class="form-control text-area" text-angular
                     ng-model="dataFromDB.bottomLeftObject">
                </div>

            </div>

        </div>
        <div class="activity-element col-md-4">
            <div>
                <button ng-hide="bottomMiddleObjectShow" class="btn  btn-warning button-group"
                        ng-click="bottomMiddleObjectShow = !bottomMiddleObjectShow">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </button>
                <button ng-show="bottomMiddleObjectShow" class="btn  btn-success button-group"
                        ng-click="bottomMiddleObjectShow = !bottomMiddleObjectShow">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>

            <div class="shake" ng-show="bottomMiddleObjectShow">
                <label for=""><i class="fa fa-pencil-square-o" aria-hidden="true">
                </i> Edit Content</label>

                <div class="form-control text-area" text-angular
                     ng-model="dataFromDB.bottomMiddleObject">
                </div>
            </div>
            <div class="shake" ng-hide="bottomMiddleObjectShow" ng-bind-html="dataFromDB.bottomMiddleObject"></div>
        </div>

        <div class="activity-element col-md-4 move-down">
            <div class="button-group">
                <button ng-hide="bottomRightObjectShow" class="btn  btn-warning static-btn"
                        ng-click="bottomRightObjectShow =!bottomRightObjectShow">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </button>
                <button ng-show="bottomRightObjectShow" class="btn  btn-success static-btn"
                        ng-click="bottomRightObjectShow = !bottomRightObjectShow">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
            </div>

            <div class="shake" ng-show="bottomRightObjectShow">
                <label for=""><i class="fa fa-pencil-square-o" aria-hidden="true">
                </i> Edit Content</label>

                <div class="form-control text-area" text-angular
                     ng-model="dataFromDB.bottomRightObject">
                </div>
            </div>

            <div class="shake" ng-hide="bottomRightObjectShow" ng-bind-html="dataFromDB.bottomRightObject"></div>
        </div>
    </section>
    <div class="center-item">
        <button style="padding-top: 5px" ng-click="saveSettings()" class="btn btn-lg btn-success button-group"
                type="submit">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save all settings
        </button>
    </div>

</div>

<script>
    $(window).stellar();
</script>

<script src="scripts/jquery.stellar.js"></script>