<div class="login-background">

    <!--<div ng-repeat="job in jobs">{{job}}</div>-->
    <!--<div>{{jobsContent}}</div>-->

    <div class="container settings-top"></div>


    <div class="row reset-margin">

        <div class="col-md-3 col-xs-1"></div>
        <div class="col-md-4 col-xs-7">
            <input placeholder="Choose a username" name="username" type="text" ng-model="username" class="form-control"/>
        </div>
        <div class="col-md-2 col-xs-3">
            <button class="btn btn-block btn-success reset-margin" type="submit" ng-click="submitUsername()">Button</button>
        </div>
        <div class="col-md-3 col-xs-1"></div>
    </div>

    <div class="row settings-main reset-margin">
        <h1>Pick up a template</h1>


        <div class="col-md-3 col-xs-1"></div>

        <div class="col-md-3 col-xs-5 ">

            <div class="settings-main-images peace hover-hand">
                <div class="overlay">Select view One</div>
                <img ng-click="updateViewOne();submitView()" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/ProfileMe/banner_beauty_zps14gctezl.png" alt=""/>

            </div>
        </div>
        <div class="col-md-3 col-xs-5">
            <div class="settings-main-images peace hover-hand">
                <div  class="overlay">Select view Two</div>
                <img ng-click="updateViewTwo();submitView()" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/ProfileMe/banner_photography_zps5nnaqblg.png" alt=""/>

            </div>
        </div>
        <div class="col-md-3 col-xs-1"></div>

    </div>
    <div class="row reset-margin">
        <div class="col-md-4 col-xs-2"></div>
        <div class="col-md-4 col-xs-8">

            <div class=" peace hover-hand">
                <div  class="overlay">Preview</div>
                <img style="width: 100%" ng-click="preview()" src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/ProfileMe/banner_beauty_zps14gctezl.png" alt=""/>

            </div>

        </div>
        <div class="col-md-4 col-xs-2"></div>
    </div>

</div>
<div style="height: 30px"></div>