<div class="container-fluid " style="background-color: {{showCustomUrl.bodyColor}};">

    <section ng-show="showCustomUrl.viewOne" ng-include="'views/show_custom_carousel.html'"></section>
    <section ng-show="showCustomUrl.viewTwo" ng-include="'views/show_custom_carousel_small.html'"></section>


    <section class="row" id="sports">
        <div class="fill-screen stellar-bg fixed-attachment"
             data-steller-background-ratio="0.2"
             style="background-image: url('{{showCustomUrl.mainBackground}}')">
            <section class="row activity-section">

                <div class="activity-element col-md-4" style="color: #ffffff">
                    <div ng-bind-html="showCustomUrl.mainBackgroundTextLeft"></div>
                </div>

                <div class="activity-element col-md-4">
                </div>

                <div class="activity-element col-md-4" style="color:#ffffff">
                    <div ng-bind-html="showCustomUrl.mainBackgroundTextRight"></div>
                </div>
            </section>
        </div>
    </section>

    <section class="row activity-section" id="activities">
        <div class="activity-element col-md-4">

            <div ng-bind-html="showCustomUrl.bottomLeftObject"></div>
        </div>
        <div class="activity-element col-md-4">
            <div ng-bind-html="showCustomUrl.bottomMiddleObject"></div>
        </div>
        <div class="activity-element col-md-4">
            <div ng-bind-html="showCustomUrl.bottomRightObject"></div>
        </div>
    </section>

</div>

<script>
    $(window).stellar();
</script>

<script src="scripts/jquery.stellar.js"></script>