<style>
    .small-carousel-left {
        color: #ffffff;
    }

    .peace {
        position: relative;

    }

    .overlay {
        display: none;
        color: #ffffff;
        text-align: center;
    }

    .peace:hover > .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: #000;
        opacity: 0.6;
        z-index: 100;
        display: block;
    }


</style>


<div class="row block peace second-view-background">

    <div class="col-md-1">

    </div>
    <div class="col-md-5">


        <div class="small-carousel-left">
            <div ng-bind-html="showCustomUrl.carouselImgOneText"></div>
        </div>
        <div class="initial-padding">
            <button class="btn btn-default">Contact Us</button>
            <button class="btn btn-danger">Learn more</button>
        </div>

    </div>

    <div class="col-md-6 reset-side-padding" style="min-width: 400px; overflow: hidden">

        <img style="width: 100%; height: auto!important; opacity: 0.8"
             ng-src="{{showCustomUrl.carouselImgOne || './static/images/no-image-available.jpg'}}"
             alt="No data">
    </div>
</div>

<div class="container-fluid block second-view-main-container">
    <div class="row text-banner" id="userDetails">
        <div ng-bind-html="showCustomUrl.contentMain"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-xs-6">
            <div class="rol">
                <div class="col-xs-12 initial-padding">
                    <img width="100%"
                         ng-src="{{showCustomUrl.carouselImgTwo || './static/images/no-image-available.jpg'}}"
                         alt=""/>
                </div>
                <div class="col-xs-12 initial-padding">
                    <div class="overflow-text" ng-bind-html="showCustomUrl.carouselImgTwoText"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-xs-6" style="background-color: {{showCustomUrl.bodyColor}}">
            <div class="rol">
                <div class="col-xs-12 initial-padding">
                    <div class="overflow-text" ng-bind-html="showCustomUrl.carouselImgThreeText"></div>
                </div>
                <div class="col-xs-12 initial-padding">
                    <img width="100%"
                         ng-src="{{showCustomUrl.carouselImgThree || './static/images/no-image-available.jpg'}}"
                         alt=""/>

                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>

</div>

