<div class="row ">

    <div class="col-sm-1">

    </div>
    <div class="col-sm-1">
        <button class="btn btn-danger">Delete</button>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6 message-box">
        <div class="row">
            <div class="col-sm-4">
                <img class="circle" src="./static/images/noUser1.jpg" alt=""/>
            </div>
            <div class="col-sm-8">
                <h5><b>{{m.sender}}</b> made a post.</h5>
            </div>

        </div>
        <div class="row message-content">

            <div class="col-sm-12" >
                <b>{{m.title}}</b>
            </div>
            <div class="col-sm-12">{{m.content}}</div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-warning "><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{m.voteUp}}</button>
                <button class="btn btn-warning "><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{m.voteDown}}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3">

    </div>
</div>