html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.big-btn-height{
    height: 80px;
    font-size: 1.4em;
    border-radius: 5px;
}

.reset-side-padding {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

.maint-text-adjust {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 40%;
    color: ivory;
    font-size: large;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
    font-family: "Courier New", Courier, monospace;

}

.media-img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.maint-text-adjust > div > button {
    border-radius: 20px;
}

@media screen and (max-width: 767px) {

    #inner-maint-text-adjust * {

        font-size: 0.9em;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .scroll-down-arrow {
        display: none;
    }
}

.media {
    /*background-color: lightgray;*/
    padding: 15px;

}

.media-left > a > img {
    max-width: 300px;
    border-radius: 10px;
}

.media-right > a > img {
    max-width: 300px;
    border-radius: 10px;
}

.scroll-down-arrow {
    position: absolute;
    left: 49%;
    bottom: 15%;
    font-size: 3em;
    color: white;
}

.footer-button {
    margin-top: 20px;
}

.form-control {
    height: auto;
}

.ta-hidden-input {
    display: none;
}

ul, ol {
    list-style: none;
}

#accordion1 li.panel {
    margin-bottom: 0px;
}

.second-view-background {
    background: linear-gradient(135deg, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    font-family: Helvetica, Helvetica, Arial, sans-serif;
}

.hover-hand:hover{
    cursor:pointer;
    cursor: hand
}



@media (max-width: 1051px) {
    .overflow-text {
        max-height: 200px;
        overflow-y: auto;
    }
}
@media (min-width: 778px) {
    .second-view-main-container {
        background-color: #ffffff;
        position: relative;
        top: -60px;
        width: 90%
    }
}
.initial-padding {
    padding: 20px 5px;
}

.initial-padding > img {
    border-radius: 20px;
}

@media (max-width: 767px) {
    body {
        padding-top: 0;
    }

    .block {
        margin-left: -15px;
        margin-right: -15px;
    }

    .footer-content {
        padding-top: 0;
        padding-left: 30px;
        margin-left: 20px;
    }

    .fill-screen {

        padding: 0 !important;
    }

    svg {
        height: 600px;

    }

    .initial-nav {
        padding: 0 !important;

    }

    div a > img {
        width: 200px;
        padding: 10px;
    }
}

/*.over-footer {*/
/*position: absolute;*/
/*width: 95%;*/
/*bottom: 10px;*/
/*z-index: 2;*/
/*}*/

.footer-icons a {

    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    width: 35px;
    font-size: 170%;
}

.fill-screen {

    background-size: cover;
    background-position: center;
    padding: 100px;
}

.fixed-attachment {
    background-attachment: fixed;
}

.text-banner {
    margin: 40px 20px;
}

.down-button {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.down-button i {
    color: white;
}

.activity-section {
    margin: 50px;
}

.activity-element {
    text-align: center;
}

.activity-element img {
    width: 150px;
    height: 150px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}

.carousel-inner {
    height: 100%;
}

.navigation-footer-color {
    color: #ffffff;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
}

/*
.carousel {
    margin: 40px 0px;
}
*/
.logo-header {
    max-height: 49px;
}

.logo-footer {
    max-height: 90px;
}

@media only screen and (max-width: 47.9375em) {
    .logo-header {
        max-width: 100px;
    }

}

.reset-margin {
    margin: 0 !important;
}

.carousel .item img {
    width: 100%;

}
.overflow-text::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.scrollbar
{

}
.overflow-text::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.overflow-text::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d3d3d3;
}
.initial-nav {
    margin-bottom: 0px;
    padding: 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 1.2em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.changed-nav {
    margin-bottom: 0px;
    -webkit-transition: all 0.5s;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.nabar-default {
    opacity: 0;
}

.initial-nav > .container-fluid > .collapse > .nav > li > a {
    color: ivory;
    font-size: large;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
}

.custom-header > .container-fluid > .collapse > .nav > li > a {
    color: ivory;
    font-weight: normal;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
}

.reset-border-radius {
    border-radius: 0;
}

footer > div > .row {
    margin-left: 0;
    margin-right: 0;
}

hr {
    margin: 0;
    padding: 0;
}

.footer-top {
    padding: 15px 10px;
}

.carousel-control {

}

.footer-content {
    padding: 0 10px;
}

.main-alert {
    position: absolute;
    top: 170px;
    left: 5px;
    right: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.alert-hidden {
    visibility: hidden;
}

.ui-view-container {
    position: relative;
}

.shake.ng-hide-add {
    /*-webkit-animation:0.5s lightSpeedOut ease;*/
    /*animation:0.5s lightSpeedOut ease;*/
}

/* when showing the thing */
.shake.ng-hide-remove {
    -webkit-animation: 0.5s flipInX ease;
    animation: 0.5s flipInX ease;
}

.center-item {
    text-align: center;
}

.login-background {
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

/*[ui-view].ng-enter,*/
/*[ui-view].ng-leave{*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*-webkit-transition: all .25s ease-in-out;*/
/*-moz-transition: all .25s ease-in-out;*/
/*-o-transition: all .25s ease-in-out;*/
/*transition: all .25s ease-in-out;*/
/*}*/
/*[ui-view].ng-enter{*/
/*opacity: 0;*/
/*-webkit-transition: scale3d(0.96, 0.96, 0.96);*/
/*-moz-transition: scale3d(0.96, 0.96, 0.96);*/
/*transition: scale3d(0.96, 0.96, 0.96);*/
/*}*/
/*[ui-view].ng-enter-active{*/
/*opacity: 1;*/
/*-webkit-transition: scale3d(1,1,1);*/
/*-moz-transition: scale3d(1,1,1);*/
/*transition: scale3d(1,1,1);*/
/*}*/
/*[ui-view].ng-leave{*/
/*opacity: 1;*/
/*-webkit-transition: translate3d(0,0,0);*/
/*-moz-transition: translate3d(0,0,0);*/
/*transition: translate3d(0,0,0);*/
/*}*/
/*[ui-view].ng-leave-active {*/
/*opacity: 0;*/
/*}*/
