body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.form-control{
    height: auto;
}
.ta-hidden-input{
    display: none;
}
ul, ol {
    list-style: none;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}

@media (max-width: 1051px) {
    svg {
        height: 350px;

    }
}

@media (max-width: 767px) {
    body{
        padding-top: 0;
    }
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }

    .footer-content {
        padding-top: 0;
        padding-left: 30px;
        margin-left: 20px;
    }

    .fill-screen {

        padding: 0 !important;
    }

    svg {
        height: 600px;

    }
    .initial-nav {
        padding: 0 !important;

    }
    div a>img {
        width: 200px;
        padding: 10px;
    }
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
}

.over-footer {
    position: absolute;
    width: 95%;

    bottom: 0;
    z-index: 2;
}

.footer-content {
    padding: 20px;
}

.footer-icons a {

    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    width: 35px;
    font-size: 170%;
}

.fill-screen {

    background-size: cover;
    background-position: center;
    padding: 100px;
}

.fixed-attachment {
    background-attachment: fixed;
}

.text-banner {

    margin: 80px 20px;
}

.down-button {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.down-button i {
    color: white;
}

.activity-section {
    margin: 50px;
}

.activity-element {
    text-align: center;
}

.activity-element img {
    width: 150px;
    height: 150px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}

.carousel-inner {
    height: 100%;
}

/*
.carousel {
    margin: 40px 0px;
}
*/

.carousel .item img {
    width: 100%;

}

.initial-nav {
    margin-bottom: 0px;
    padding: 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 1.2em;
}

.changed-nav {
    margin-bottom: 0px;
    -webkit-transition: all 0.5s;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}
.nabar-default{
    opacity: 0;
}
.initial-nav>.container-fluid>.collapse>.nav>li>a{
    color: ivory;
    font-size: large;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
}
.initial-nav>.container-fluid>.collapse>.nav>li>a:hover{

}



.main-alert{
    position: absolute;
    top:170px;
    left:5px;
    right: 5px;
    max-width: 400px;
    margin:0 auto;
}

.alert-hidden{
    visibility: hidden;
}

.ui-view-container{
    position: relative;
}
[ui-view].ng-enter,
[ui-view].ng-leave{
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
[ui-view].ng-enter{
    opacity: 0;
    -webkit-transition: scale3d(0.96, 0.96, 0.96);
    -moz-transition: scale3d(0.96, 0.96, 0.96);
    transition: scale3d(0.96, 0.96, 0.96);
}
[ui-view].ng-enter-active{
    opacity: 1;
    -webkit-transition: scale3d(1,1,1);
    -moz-transition: scale3d(1,1,1);
    transition: scale3d(1,1,1);
}
[ui-view].ng-leave{
    opacity: 1;
    -webkit-transition: translate3d(0,0,0);
    -moz-transition: translate3d(0,0,0);
    transition: translate3d(0,0,0);
}
[ui-view].ng-leave-active {
    opacity: 0;
}
